#          LLM / OpenRouter Configuration
# The API key required to authenticate with OpenRouter.
OPENROUTER_API_KEY="ADD HERE YOUR API KEY"
# The specific LLM model to be used by the MCPAgent (e.g., for classification and extraction).
OPEN_ROUTER_MODEL_NAME = "google/gemini-2.5-flash" # Models used: google/gemini-2.5-flash, openai/gpt-4o-mini
# The base URL for the OpenRouter API endpoint.
OPENROUTER_API_BASE = "https://openrouter.ai/api/v1"


#    Database (PostgreSQL) Configuration
# The hostname or IP address of the PostgreSQL server. '::1' is the IPv6 loopback address (localhost).
DB_HOST=::1 
# The name of the database to connect to (e.g., where the 'products' table resides).
DB_NAME=postgres
# The username for the database connection.
DB_USER=postgres
# The password for the specified database user.
DB_PASSWORD=123456789
# The network port on which the PostgreSQL server is listening (default is 5432).
DB_PORT=5432




#   RAG System / Vector Store (ChromaDB) Configuration
# The local file system path where ChromaDB will persist the vector store data.
# **CRITICAL**: This path must be a directory and should be ignored by Git (added to .gitignore).
VECTOR_STORE_PATH = "ADD YOUR VECTOR STORE PATH HERE"
# The name of the collection (index) within the vector store that holds product embeddings.
COLLECTION_NAME = "products"
# The name of the Sentence Transformer model used to generate embeddings (vectors) for text.
# The multilingual model ensures compatibility with Greek and English text.
EMBEDDING_MODEL = "paraphrase-multilingual-mpnet-base-v2"
# The maximum number of similar products to retrieve from the vector store for a given query.
# This context is then passed to the LLM.
SIMILARITY_SEARCH_TOP_K = 50